.link-group {
  grid-template-columns: repeat(2, 49.5%);
}

.link-item {
  /*max-width: 362px;
  min-width: 362px;*/
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
  }

  .content a {
    img {
      margin-top: 0px;
      margin-right: -18px;
      width: 65px;
      height: auto;
      box-shadow: inset 0 0 0px var(--c-text);
    }
  }
}
