:root {
  --c-text-sub: hsl(0, 0%, 20%);
}

html.dark {
  --c-text-sub: hsl(0, 0%, 80%);
}

.tags-wrapper section {
  .item {
    .subtitle {
      font-weight: 400;
      font-size: 15px;
    }
  }
}
.page-content .page-header .subtitle {
  font-weight: 600;
}
